*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'ZCOOL XiaoWei', serif;
}
 /*landing page*/

#jumbo-land {
	height: 100vh;
	background-image: url("../images/bg-landing-page.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	/*background-attachment: fixed;*/
	padding-top: 10%;
	border-radius: 0;
}

.container-bg {
	background-image: url("../images/bg-1.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/*background-attachment: fixed;*/
	border:1px solid grey;
	width: 75%;
	height: auto;
	line-height: 20px;
	padding-bottom: 2%;
}

.jumbotron h1 {
	color:#fff;
	text-shadow: 2px 1px #6d6565;
}
.jumbotron p {
	color:#fff;
}
.jumbotron hr {
	background-color: #fff;
}
 
 .my-photo hr  {
 	background-color: gold;
 }

 
.icons  a {
	margin: 1.5%;
	color: gold;
}

.icon-zoom:hover {
	transform: scale(3); 
	transition: .5s;
	color: #e3e6ea;
}
	

.profile-pic {
	border-radius: 30%;
	height:auto;
	width: 50%; 
	margin-top:10%;
}

.my-photo {
	position: relative;
	color: #d9d9db;
}

.shades:hover{
	opacity: 1;
	transition: 1s;			
}
.shades {
	transform: scale(.3);
	position: absolute;
	top: -11%;
	left: 0.6%;
	opacity: 0;
	transition: 1s;
			
}

.btn-container {
	text-align: center;
	padding-top: 5%;
	text-decoration: none;
	color: #fff;
	border-color:#d9d9db;
}

.btn a {
	text-decoration: none;
	color: #fff;
}


.btn {
	border-color:#d9d9db;

}

.btn:hover {
	background-color: #3d444f;
	border-color:#fff;
}

.double-down {
	transform: scale(2);
	margin:1.5%;
	color:#bcbcbc;

}

.double-down:hover {
	transform: scale(3);
	transition: 0.4s;
}

 /*end landing page*/

/*start navbar*/
#navbar-me a {
	color:#c9aa71;
	font-weight: bolder;
	font-family: 'ZCOOL XiaoWei', serif;
	text-transform: uppercase;

}

#navbar-me {
	background-color: #242628;

}

.active {
	background-color: #211605;
	opacity: .8;
	border-radius: 10%;
	border-top-left-radius: 30%;
	border-bottom-left-radius: 30%;
	border-bottom-right-radius: 30%;
}


/*end navbar*/


/*Start home page*/

#home-landing {
	background-image: url("../images/background/rift.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #c9aa71;
	padding:20%;
}

.cont-home-me {
	background-color: #131314;
	transition:2s;
}


.cont-home-me:hover {
	background-color: #323238;
	transition: 2s;
}

.container-me {
	background-color: #131314;
}


.team-me {
	position: relative;
	height: 60vh;
	width: auto;
	
}


#jumboland-me {
	background-image: url("../images/background/background.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

}

.jumboland2-me {
	background-color: #131314;
}

.team-up-me {
	height: 28rem;
	width: auto;
}



.yasuo-hover > img {

	opacity: 0;
		
}
.yasuo-hover > img:hover {
	opacity: 1;
	transition: .5s;
		
}
.yasuo-hover,.yasuo-faded {
	position: absolute;
	right:27%;
}

.warwick-hover > img {

	opacity: 0;
		
}
.warwick-hover > img:hover {
	opacity: 1;
	transition: .5s;
		
}

.warwick-hover,.warwick-faded {
	position: absolute;
	right:38%;	
}

.darius-hover > img {

	opacity: 0;
		
}
.darius-hover > img:hover {
	opacity: 1;
	transition: .5s;
		
}

.darius-hover,.darius-faded {
	position: absolute;
	left:0.1%;	
}


.braum-hover > img {

	opacity: 0;
		
}
.braum-hover > img:hover {
	opacity: 1;
	transition: .5s;
		
}
.braum-hover, .braum-faded {
	position: absolute;
	right:5%;	
}


.jinx-hover > img {

	opacity: 0;
		
}

.jinx-hover > img:hover {
	opacity: 1;
	transition: .5s;
		
}
.jinx-hover,.jinx-faded {
	position: absolute;
	right: 1%;	
}

.lolhr-me {
	height: auto;
	max-width: 100%;
}

.team-land-me > h1 {
	color: #c9aa71;
	/*font-family: 'Noto Serif', serif;*/
	text-transform: uppercase;
}

.team-land-me > p {
	color: #c9aa71;
	font-family: 'Noto Serif', serif;
	text-transform: uppercase;
}

#matchup-me {
	background-image: url("../images/background/ARAM.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;

}

.card-container {
	background-color: transparent;

	color: #e2c081; 
}

.card-container p {
	
	font-family: 'ZCOOL XiaoWei', serif;
}

.text-card {
	padding-top: 10%;
}



.bg-me {
	background-color: rgba(255,255,255,0);
	color: #fff3dd;


}

/*End home page*/




/*about page */

.about-title {
	color: #e2c081;
}

.cont-about-bg {
	background-image: url("../images/background/join-team-bg.png");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;

}



.card-about-me img {
	height: 18rem;
	width: auto;
}

.card-about-me p {
	color: #ffe5b5;
}

.card-about-me h5 {
	color: #ffe5b5;
}
.card-about-me h3 {
	color: #ffba3a;
}

.card-about-me  {
	background-image: url("../images/background/rift.png");
}
/*end about page*/





/*start gallery page*/

#head-gall	{
	margin: 8%;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	background-color: rgba(10,10,12,.8);
	color: #937341;
}

.card-box {
	background-color: blue;
	height: 2rem;

}

.cont-gal-landing {
	 background-image: url("../images/background/championsBackground.jpg");
	 background-repeat: no-repeat;
	 background-attachment: fixed;
	 background-position: center;
	 background-size: cover;
	height: auto;
	width: 100%;
}

.container-gal-landing {
	background-color: rgba(10,10,12,.7);
	height: auto;
	width: 100%;
}

#carousel-home {
	height: 70vh;
}
#carousel-home img {
	height: 60vh;
	max-height: 60vh;
}

.cont-gal-bg {
	background-image: url("../images/background/rift.png");

}

.cont-gal-bg h3 {
	color: #e2c081;

}

.carousel-control-next-icon ,.carousel-control-prev-icon {
	transform: scaleY(3);
}

.carousel-title {
		color: #e2c081;
}

.modal-content {
	background-color: rgba(255,255,255,0);
	color: #fff3dd;
	transform: scale(1.5);
	margin-top: 20%;
}



/*end gallery page*/

/*start contact page */
.cont-contact-bg {
	background-image: url("../images/background/universe-bg.jpg");
	background-repeat: no-repeat;
	 background-attachment: fixed;
	 background-position: center;
	 background-size: cover;
	 height: 100vh;
}

#contact-land {
	color: #e2c081; 
}

/*end contact page*/


/*footer	*/
footer {
	color: #c9aa71;
	line-height: 1em;
}

.logo-footer-me {
	max-width: 8rem;
	max-height: auto;
}
/*end footer*/




@media only screen and (max-width: 1024px) {
	.team-up-me {
		height:20rem;
		width: auto; 
	}
	.team-me {
		height: 40vh;
	}
}

@media only screen and (max-width: 820px) {
	.team-up-me {
		height:15rem;
		width: auto; 
	}

	.team-me {
		height: 30vh;
	}

	.yasuo-hover,.yasuo-faded {
	position: absolute;
	right:27%;
	}
	.warwick-hover,.warwick-faded {
	position: absolute;
	right:40%;	
	}
	.darius-hover,.darius-faded {
	position: absolute;
	left:5%;	
	}
	.braum-hover, .braum-faded {
	position: absolute;
	right:8%;	
	}
	.jinx-hover,.jinx-faded {
	position: absolute;
	right: 1%;	
	}
}
@media only screen and (max-width: 599px) {
	.team-up-me {
		height:12rem;
		width: auto; 
	}

	.yasuo-hover,.yasuo-faded {
	position: absolute;
	right:27%;
	}
	.warwick-hover,.warwick-faded {
	position: absolute;
	right:40%;	
	}
	.darius-hover,.darius-faded {
	position: absolute;
	left:5%;	
	}
	.braum-hover, .braum-faded {
	position: absolute;
	right:8%;	
	}
	.jinx-hover,.jinx-faded {
	position: absolute;
	right: 1%;	
	}
}

@media only screen and (max-width: 460px) {
	.team-up-me {
		height:9rem;
		width: auto; 
	}

	.team-me {
		height: 20vh;
	}


	.yasuo-hover,.yasuo-faded {
	position: absolute;
	right:32%;
	}
	.warwick-hover,.warwick-faded {
	position: absolute;
	right:45%;	
	}
	.darius-hover,.darius-faded {
	position: absolute;
	left:5%;	
	}
	.braum-hover, .braum-faded {
	position: absolute;
	right:14%;	
	}
	.jinx-hover,.jinx-faded {
	position: absolute;
	right: 5%;	
	}

	.about-landing-me img {
		max-width: 20rem;
		max-height: auto;
	}
}


@media only screen and (max-width: 768px) {

	.about-landing-me img {
		max-width: 20rem;
		max-height: auto;
	}
}
